.feedzy-el-full-width .elementor-control-unit-2 {
  width: 100%;
}
.elementor-control-type-section.fz-feat-locked .eicon-lock {
  position: absolute;
  top: 13px;
  right: 20px;
  display: block;
  color: #64666a;
}
.fz-feat-locked:not(.elementor-control-type-section) > div .elementor-control-field {
  opacity: .2;
}
.fz-feat-locked:not(.elementor-control-type-section) > div .elementor-control-field {
  pointer-events: none;
}
.fz-feat-locked:not(.elementor-control-type-section) {
  cursor: not-allowed;
}

.elementor-choices.fz-layout-choices{
  height: auto;
}
.fz-layout-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -4px;
}
.fz-layout-list li{
  width: 50%;
  padding: 0 4px 15px;
}
.fz-layout-list li .elementor-control-unit{
  display: block !important;
}
.fz-layout-list li .img{
  height: 66px;
  margin-bottom: 8px;
  background: #34383C;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.fz-layout-list li .img:after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #71D7F7;
  opacity: 0;
}
.fz-layout-list li input:checked ~ .elementor-control-unit .img{
  background: #64666A;
}
.fz-layout-list li input:checked ~ .elementor-control-unit .img:after{
  opacity: 1;
}

.fz-el-light-mode .fz-layout-list li .img{
  background: #E6E9EC;
}
.fz-el-light-mode .fz-layout-list li input:checked ~ .elementor-control-unit .img{
  background: #C7CCD1;
}

.fz-pro-notice{
  text-align: center;
  max-width: 202px;
  margin: 0 auto;
  padding: 56px 0 30px;
}
.fz-pro-notice .fz-logo{
  padding-bottom: 20px;
}
.fz-pro-notice h3{
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #E0E1E3;
  margin-bottom: 5px;
}
.fz-light-mode.fz-pro-notice h3{
  color: #757575;
}
.fz-pro-notice p{
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #E0E1E3;
  margin-bottom: 16px;
}
.fz-light-mode.fz-pro-notice p{
  color: #757575;
}
.docs-btn a{
  display: inline-block;
  background: #4268CF;
  padding: 6px 12px;
  border-radius: 3px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.docs-btn a:hover,
.docs-btn a:focus{  
  color: #FFFFFF;
}
.docs-btn span{
  display: block;
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #757575;
  padding-top: 8px;
}