/**
 * form.css
 * Feedzy RSS Feeds Form CSS
 */

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	color: #606c76;
	font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 1.6em;
	font-weight: 300;
	line-height: 1.6;
	letter-spacing: 0.01em;
}

*,
*:after,
*:before {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-block;
	height: 3.8rem;
	padding: 0 3.0rem;
	border: 0.1rem solid #31b0d5;
	border-radius: 0.4rem;
	color: #fff;
	background-color: #31b0d5;
	font-size: 1.1rem;
	font-weight: 700;
	line-height: 3.8rem;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	cursor: pointer;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
	border-color: #606c76;
	outline: 0;
	color: #fff;
	background-color: #606c76;
}

.button[disabled],
button[disabled],
input[type="button"][disabled],
input[type="reset"][disabled],
input[type="submit"][disabled] {
	opacity: 0.5;
	cursor: default;
}

.button[disabled]:focus,
.button[disabled]:hover,
button[disabled]:focus,
button[disabled]:hover,
input[type="button"][disabled]:focus,
input[type="button"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="reset"][disabled]:hover,
input[type="submit"][disabled]:focus,
input[type="submit"][disabled]:hover {
	border-color: #31b0d5;
	background-color: #31b0d5;
}

.button.button-outline,
button.button-outline,
input[type="button"].button-outline,
input[type="reset"].button-outline,
input[type="submit"].button-outline {
	color: #31b0d5;
	background-color: transparent;
}

.button.button-outline:focus,
.button.button-outline:hover,
button.button-outline:focus,
button.button-outline:hover,
input[type="button"].button-outline:focus,
input[type="button"].button-outline:hover,
input[type="reset"].button-outline:focus,
input[type="reset"].button-outline:hover,
input[type="submit"].button-outline:focus,
input[type="submit"].button-outline:hover {
	border-color: #606c76;
	color: #606c76;
	background-color: transparent;
}

.button.button-outline[disabled]:focus,
.button.button-outline[disabled]:hover,
button.button-outline[disabled]:focus,
button.button-outline[disabled]:hover,
input[type="button"].button-outline[disabled]:focus,
input[type="button"].button-outline[disabled]:hover,
input[type="reset"].button-outline[disabled]:focus,
input[type="reset"].button-outline[disabled]:hover,
input[type="submit"].button-outline[disabled]:focus,
input[type="submit"].button-outline[disabled]:hover {
	border-color: inherit;
	color: #31b0d5;
}

.button.button-clear,
button.button-clear,
input[type="button"].button-clear,
input[type="reset"].button-clear,
input[type="submit"].button-clear {
	border-color: transparent;
	color: #31b0d5;
	background-color: transparent;
}

.button.button-clear:focus,
.button.button-clear:hover,
button.button-clear:focus,
button.button-clear:hover,
input[type="button"].button-clear:focus,
input[type="button"].button-clear:hover,
input[type="reset"].button-clear:focus,
input[type="reset"].button-clear:hover,
input[type="submit"].button-clear:focus,
input[type="submit"].button-clear:hover {
	border-color: transparent;
	color: #606c76;
	background-color: transparent;
}

.button.button-clear[disabled]:focus,
.button.button-clear[disabled]:hover,
button.button-clear[disabled]:focus,
button.button-clear[disabled]:hover,
input[type="button"].button-clear[disabled]:focus,
input[type="button"].button-clear[disabled]:hover,
input[type="reset"].button-clear[disabled]:focus,
input[type="reset"].button-clear[disabled]:hover,
input[type="submit"].button-clear[disabled]:focus,
input[type="submit"].button-clear[disabled]:hover {
	color: #31b0d5;
}

hr {
	margin: 3.0rem 0;
	border: 0;
	border-top: 0.1rem solid #f4f5f6;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea,
select {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	width: 100%;
	height: 3.8rem;
	padding: 0.6rem 1.0rem;
	border: 0.1rem solid #d1d1d1;
	border-radius: 0.4rem;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus {
	border-color: #31b0d5;
	outline: 0;
}

select {
	padding-right: 3.0rem;
	background: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"14\" viewBox=\"0 0 29 14\" width=\"29\"><path fill=\"#d1d1d1\" d=\"M9.37727 3.625l5.08154 6.93523L19.54036 3.625\"/></svg>") center right no-repeat;
}

select:focus {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"14\" viewBox=\"0 0 29 14\" width=\"29\"><path fill=\"#31b0d5\" d=\"M9.37727 3.625l5.08154 6.93523L19.54036 3.625\"/></svg>");
}

textarea {
	min-height: 6.5rem;
}

label,
legend {
	display: block;
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
	font-weight: 300;
}

fieldset {
	padding: 0;
	border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
}

.label-inline {
	display: inline-block;
	margin-left: 0.5rem;
	font-weight: normal;
}

.container {
	position: relative;
	width: 100%;
	max-width: 112.0rem;
	margin: 0 auto;
	padding: 0 2.0rem;
}

.row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0;

	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
}

.row.row-no-padding {
	padding: 0;
}

.row.row-no-padding > .column {
	padding: 0;
}

.row.row-wrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.row.row-top {
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-webkit-box-align: start;
	-ms-flex-align: start;
}

.row.row-bottom {
	-webkit-align-items: flex-end;
	align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
}

.row.row-center {
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
}

.row.row-stretch {
	-webkit-align-items: stretch;
	align-items: stretch;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
}

.row.row-baseline {
	-webkit-align-items: baseline;
	align-items: baseline;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
}

.row .column {
	display: block;
	width: 100%;
	max-width: 100%;
	margin-left: 0;

	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.row .column.column-offset-10 {
	margin-left: 10%;
}

.row .column.column-offset-20 {
	margin-left: 20%;
}

.row .column.column-offset-25 {
	margin-left: 25%;
}

.row .column.column-offset-33,
.row .column.column-offset-34 {
	margin-left: 33.3333%;
}

.row .column.column-offset-50 {
	margin-left: 50%;
}

.row .column.column-offset-66,
.row .column.column-offset-67 {
	margin-left: 66.6666%;
}

.row .column.column-offset-75 {
	margin-left: 75%;
}

.row .column.column-offset-80 {
	margin-left: 80%;
}

.row .column.column-offset-90 {
	margin-left: 90%;
}

.row .column.column-10 {
	max-width: 10%;

	-webkit-box-flex: 0;
	-webkit-flex: 0 0 10%;
	-ms-flex: 0 0 10%;
	flex: 0 0 10%;
}

.row .column.column-20 {
	max-width: 20%;

	-webkit-box-flex: 0;
	-webkit-flex: 0 0 20%;
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
}

.row .column.column-25 {
	max-width: 25%;

	-webkit-box-flex: 0;
	-webkit-flex: 0 0 25%;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
}

.row .column.column-33,
.row .column.column-34 {
	max-width: 33.3333%;

	-webkit-box-flex: 0;
	-webkit-flex: 0 0 33.3333%;
	-ms-flex: 0 0 33.3333%;
	flex: 0 0 33.3333%;
}

.row .column.column-40 {
	max-width: 40%;

	-webkit-box-flex: 0;
	-webkit-flex: 0 0 40%;
	-ms-flex: 0 0 40%;
	flex: 0 0 40%;
}

.row .column.column-50 {
	max-width: 50%;

	-webkit-box-flex: 0;
	-webkit-flex: 0 0 50%;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
}

.row .column.column-60 {
	max-width: 60%;

	-webkit-box-flex: 0;
	-webkit-flex: 0 0 60%;
	-ms-flex: 0 0 60%;
	flex: 0 0 60%;
}

.row .column.column-66,
.row .column.column-67 {
	max-width: 66.6666%;

	-webkit-box-flex: 0;
	-webkit-flex: 0 0 66.6666%;
	-ms-flex: 0 0 66.6666%;
	flex: 0 0 66.6666%;
}

.row .column.column-75 {
	max-width: 75%;

	-webkit-box-flex: 0;
	-webkit-flex: 0 0 75%;
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
}

.row .column.column-80 {
	max-width: 80%;

	-webkit-box-flex: 0;
	-webkit-flex: 0 0 80%;
	-ms-flex: 0 0 80%;
	flex: 0 0 80%;
}

.row .column.column-90 {
	max-width: 90%;

	-webkit-box-flex: 0;
	-webkit-flex: 0 0 90%;
	-ms-flex: 0 0 90%;
	flex: 0 0 90%;
}

.row .column .column-top {
	-webkit-align-self: flex-start;
	align-self: flex-start;
	-ms-flex-item-align: start;
}

.row .column .column-bottom {
	-webkit-align-self: flex-end;
	align-self: flex-end;
	-ms-flex-item-align: end;
}

.row .column .column-center {
	-webkit-align-self: center;
	align-self: center;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
}

@media (min-width: 40rem) {
	.row {
		flex-direction: row;
		width: -webkit-calc(100% + 2.0rem);
		width: calc(100% + 2.0rem);
		margin-left: -1.0rem;

		-webkit-box-direction: normal;
		-webkit-box-orient: horizontal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
	}

	.row .column {
		margin-bottom: inherit;
		padding: 0 1.0rem;
	}
}

a {
	color: #31b0d5;
	text-decoration: none;
}

a:focus,
a:hover {
	color: #606c76;
}

dl,
ol,
ul {
	margin-top: 0;
	padding-left: 0;
	list-style: none;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
	margin: 1.5rem 0 1.5rem 3.0rem;
	font-size: 90%;
}

ol {
	list-style: decimal inside;
}

ul {
	list-style: circle inside;
}

.button,
button,
dd,
dt,
li {
	margin-bottom: 1.0rem;
}

fieldset,
input,
select,
textarea {
	margin-bottom: 1.5rem;
}

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
	margin-bottom: 2.5rem;
}

table {
	width: 100%;
}

td,
th {
	padding: 1.2rem 1.5rem;
	border-bottom: 0.1rem solid #e1e1e1;
	text-align: left;
}

td:first-child,
th:first-child {
	padding-left: 0;
}

td:last-child,
th:last-child {
	padding-right: 0;
}

p {
	margin-top: 0;
	font-size: 1.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 2.0rem;
	font-weight: 300;
	letter-spacing: -0.1rem;
}

h1 {
	font-size: 4.0rem;
	line-height: 1.2;
}

h2 {
	font-size: 3.6rem;
	line-height: 1.25;
}

h3 {
	font-size: 3.0rem;
	line-height: 1.3;
}

h4 {
	font-size: 2.4rem;
	line-height: 1.35;
	letter-spacing: -0.08rem;
}

h5 {
	border-bottom: 1px solid #31b0d5;
	font-size: 1.8rem;
	line-height: 1.5;
	letter-spacing: -0.05rem;
}

h6 {
	font-size: 1.6rem;
	line-height: 1.4;
	letter-spacing: 0;
}

@media (min-width: 40rem) {
	h1 {
		font-size: 5.0rem;
	}

	h2 {
		font-size: 4.2rem;
	}

	h3 {
		font-size: 3.6rem;
	}

	h4 {
		font-size: 3.0rem;
	}

	h5 {
		font-size: 2.4rem;
	}

	h6 {
		font-size: 1.5rem;
	}
}

img {
	max-width: 100%;
}

.clearfix:after {
	display: table;
	clear: both;
	content: " ";
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.feedzy_section_pro {
	background-color: #fefefe;
}

.feedzy_section_pro h5 {
	border-bottom-color: #d9a404;
	color: #d9a404;
}

.feedzy_pro_tag {
	margin-left: 10px;
	padding: 3px 6px;
	border-radius: 3px;
	color: #fff;
	background-color: #d9a404;
}

.feedzy-radio-image {
	display: inline-block;
	width: 100px;
	margin-right: 20px;
	padding-bottom: 60px;
}

.feedzy-template-default {
	background: url(../img/feedzy-default-template.jpg) no-repeat bottom center;
}

.feedzy-template-style1 {
	background: url(../img/feedzy-style1-template.jpg) no-repeat bottom center;
}

.feedzy-template-style2 {
	background: url(../img/feedzy-style2-template.jpg) no-repeat bottom center;
}

input[disabled],
select[disabled] {
	cursor: not-allowed;
}
