#fz-features .fz-features-header {
	padding: 20px 10px;
	border-top: 5px solid #252b37;
	background: #fff;
}

#fz-features .logo {
	display: inline-block;
	margin: 0 0 0 20px;
	padding: 0 0 0 70px;
	color: #3c3c3c;
	background: url(../img/feedzy.svg) no-repeat left center;
	background-size: 50px;
	font-family: "Open Sans", sans-serif;
	font-size: 2em;
	font-weight: 700;
	line-height: 60px;
	letter-spacing: -1px;
}

#fz-features .slogan {
	display: inline-block;
	margin: 0 0 0 5px;
	padding: 0;
	color: #858585;
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	line-height: 3.5;
}

#fz-features .slogan a {
	color: #858585;
	font-weight: 600;
	font-style: italic;
	text-decoration: none;
	transition: all 0.250s ease-in-out;
}

#fz-features .slogan a:hover {
	color: #ff6160;
}

#fz-features .slogan a:focus {
	outline: none;
	box-shadow: none;
}

#fz-features .header-btns .buy-now {
	display: inline-block;
	margin-top: 2px;
	margin-right: 5px;
	padding: 15px 25px;
	border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	background: #e33b3f;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.250s ease-in-out;
}

#fz-features .header-btns .buy-now:hover {
	background: #252b37;
}

#fz-features .header-btns .buy-now .dashicons {
	padding-right: 3px;
}

#fz-features .fz-features-header,
#fz-features .fz-feature {
	display: block;
	margin: 10px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}

#fz-features .fz-feature .fz-feature-features,
#fz-features .fz-feature .fz-feature-image {
	display: table-cell;
	margin: 0;
	vertical-align: middle;
}

#fz-features .fz-feature .fz-feature-features {
	box-sizing: border-box;
	padding: 30px;
}

#fz-features .fz-feature .fz-feature-image {
	width: 470px;
}

#fz-features .fz-feature .fz-feature-features h2 {
	margin: 0 0 20px;
	font-size: 28px;
}

#fz-features .fz-feature .fz-feature-features h4 {
	margin: 0 0 10px;
	font-size: 20px;
}

#fz-features .fz-feature .fz-feature-features p {
	margin: 0 0 15px;
	font-size: 16px;
	line-height: 1.5;
}

#fz-features .fz-feature .fz-feature-image img {
	width: 100%;
	height: auto;
}

@media screen and (max-width: 1200px) {
	#fz-features .fz-feature .fz-feature-features,
	#fz-features .fz-feature .fz-feature-image {
		display: block;
	}

	#fz-features .fz-feature .fz-feature-image {
		width: 470px;
		margin: 0 auto 20px;
		text-align: center;
	}

	#fz-features .slogan {
		display: none;
	}
}

@media screen and (max-width: 1100px) {
	#fz-features {
		text-align: center;
	}

	#fz-features .logo {
		margin-left: 0;
	}

	#fz-features .header-btns {
		display: block;
		float: none;
		margin: 0 0 10px 0;
		text-align: center;
	}
}

@media screen and (max-width: 782px) {
	#cwp_form #header .button {
		padding: 0 4px 1px !important;
		font-size: 11px !important;
	}

	#cwp_form #header .logo h2 {
		margin: 0 !important;
		padding: 0 !important;
	}

	#fz-features .fz-feature .fz-feature-image {
		width: 100%;
	}
}

#fz-features .fz-feature .fz-feature-inner {
	display: table;
	width: 100%;
	background: #fff;
}

.fz-feature-centered {
	text-align: center;
}