.loadFeed {
	margin-bottom: 10px;
}

.feedzy-blocks-base-control {
	padding-bottom: 10px;

	label {
		padding-bottom: 10px;
	}

	.feedzy_image_upload {
		display: block;
		margin-bottom: 10px;
	}
}

.feedzy-select-cat {
	width: 100%;

	select {
		width: auto;
	}
}

.feedzy-rss {
	.rss_image {
		span.fetched {
			display: inline-block;
			position: absolute;
			width: 100%;
			height: 100%;
			background-position: 50%;
			background-size: cover;
		}
	}
}