.feedzy-blocks-base-control {
	padding-bottom: 10px;

	label {
		padding-bottom: 10px;
	}

	.feedzy_image_upload {
		display: block;
		margin-bottom: 10px;
	}
}

.feedzy-select-cat {
	width: 100%;

	select {
		width: auto;
	}
}