.idea
node_modules
logs
artifact
vendor
bin
package-lock.json
composer.lock
/dist
cypress/integration/examples
cypress/integration/localhost*
cypress/plugins
cypress/fixtures
cypress.env.json
wp-content