.idea
node_modules
logs
artifact
vendor
/dist
cypress/integration/examples
cypress/videos/*
cypress/screenshots/*
cypress/integration/localhost*
cypress/fixtures
cypress.env.json
.phpunit.result.cache
js/build
artifacts
