{
    "host": "http://localhost:90/", // the site url
    "wp-admin": "wp-admin/",        // the path to wp-admin
    "login": "wordpress",           // the WP username
    "pass": "wordpress"             // the WP password
}
