/**
 * upsell.css
 * Feedzy RSS Feed Upsell Style
 *
 * @since   3.0.12
 * @package feedzy-rss-feeds
 */

#fz-features .fz-features-header {
	box-sizing: border-box;
	padding: 20px 30px 30px;
	border-top: 5px solid #252b37;
	background: #fff;
}

#fz-features .logo {
	display: inline-block;
	margin: 0 0 0 20px;
	padding: 0 0 0 70px;
	color: #3c3c3c;
	background: url(../../../img/feedzy.svg) no-repeat left center;
	background-size: 48px;
	font-family: "Open Sans", sans-serif;
	font-size: 28px;
	font-weight: 700;
	line-height: 60px;
	letter-spacing: -1px;
}

#fz-features .slogan {
	display: inline-block;
	margin: 0 0 0 8px;
	padding: 0;
	color: #858585;
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	line-height: 1;
	vertical-align: 4px;
}

#fz-features .slogan a {
	color: #858585;
	font-weight: 600;
	font-style: italic;
	text-decoration: none;
	-webkit-transition: all 0.250s ease-in-out;
	transition: all 0.250s ease-in-out;
}

#fz-features .slogan a:hover {
	color: #ff6160;
}

#fz-features .slogan a:focus {
	outline: none;
	box-shadow: none;
}

#fz-features .header-btns {
	float: right;
	margin: 7px 20px;
	text-align: right;
}

#fz-features .header-btns .buy-now {
	display: inline-block;
	margin-top: 2px;
	margin-right: 5px;
	padding: 15px 25px;
	border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	background: #e33b3f;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 0.250s ease-in-out;
	transition: all 0.250s ease-in-out;
}

#fz-features .header-btns .buy-now:hover {
	background: #252b37;
}

#fz-features .header-btns .buy-now .dashicons {
	padding-right: 3px;
}

#fz-features {
	padding: 0;
}

#fz-features .fz-features-content {
	width: 100%;
	padding: 0;
}

#fz-features .fz-features-header,
#fz-features .fz-feature {
	display: table;
	float: left;
	box-sizing: border-box;
	width: 100%;
	margin: 30px 0 0;
	padding: 30px;
	background-color: #fff;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}

#fz-features .fz-feature .fz-feature-features,
#fz-features .fz-feature .fz-feature-image {
	display: table-cell;
	margin: 0;
	vertical-align: middle;
}

#fz-features .fz-feature .fz-feature-features {
	box-sizing: border-box;
	padding: 0 0 20px;
}

#fz-features .fz-feature .fz-feature-image {
	width: 470px;
}

#fz-features .fz-feature .fz-feature-features h2 {
	margin: 0 0 20px;
	font-size: 28px;
	font-weight: 700;
	line-height: 1.2;
}

#fz-features .fz-feature .fz-feature-features h4 {
	margin: 0 0 10px;
	font-size: 24px;
}

#fz-features .fz-feature .fz-feature-features p {
	margin: 0 0 15px;
	font-size: 18px;
	line-height: 1.5;
}

#fz-features .fz-feature .fz-feature-image img {
	width: 100%;
	height: auto;
}

@media screen and (min-width: 768px) {
	#fz-features {
		padding: 0 15px;
	}
}

@media screen and (min-width: 1200px) {
	#fz-features .fz-feature {
		padding: 30px 60px;
	}

	#fz-features .fz-feature .fz-feature-features {
		padding: 0 30px 0 0;
	}

	#fz-features .fz-feature .fz-feature-features h2 {
		font-size: 30px;
	}

	#fz-features .fz-feature .fz-feature-features p {
		font-size: 20px;
	}
}

@media screen and (min-width: 1500px) {
	#fz-features .fz-feature .fz-feature-features {
		padding: 0 120px 0 0;
	}
}

@media screen and (max-width: 1100px) {
	#fz-features {
		text-align: center;
	}

	#fz-features .logo {
		margin-left: 0;
	}

	#fz-features .header-btns {
		display: block;
		float: none;
		margin: 10px 0 0;
		text-align: center;
	}
}

@media screen and (max-width: 1200px) {
	#fz-features .fz-feature .fz-feature-features,
	#fz-features .fz-feature .fz-feature-image {
		display: block;
	}

	#fz-features .fz-feature .fz-feature-image {
		display: inline-block;
		max-width: 100%;
		margin: 0 auto 30px;
	}

	#fz-features .slogan {
		display: none;
	}
}

#fz-features.fz-settings .fz-feature {
	margin-top: 0;
	border: none;
}

#fz-features.fz-settings  .nav-tab-wrapper {
	border-bottom: none;
}

#fz-features.fz-settings   .nav-tab-wrapper a.nav-tab-active,
#fz-features.fz-settings  .nav-tab-wrapper a:hover {
	background: #fff;
}

#fz-features.fz-settings  .nav-tab-wrapper a {
	margin-top: 10px;
	padding: 10px 20px;
	border: 0;
	color: #000;
	background: #e0e0e0;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}
