.wp-block-feedzy-rss-feeds-loop {
    .components-placeholder__fieldset {
        .components-base-control {
            width: 100%;
        }

        p {
            width: 100%;
        }
    }

    // Note: Hide generated invalid Core Image blocks
    .wp-block-image:has( :is( img:not([src]), img[src=""] ) ) {
        display: none;
    }
}

.fz-condition-control {
    padding: 0;

    .components-button {
        width: 100%;
        margin: 0;
        padding: 6px 12px;
        justify-content: center;
    }
}

.is-upsell {
    opacity: 0.6;
}

.fz-panel-tab {
    z-index: 999999;
    margin: 24px 0;

    &__header {
        display: flex;
        background: #fff;
        border: 1px solid #d5dadf;

        &__label {
            cursor: pointer;
            flex-basis: 90%;
            display: flex;
            align-items: center;
            padding-left: 15px;

            &::selection {
                background: none;
            }
        }

        .components-button {
            height: auto;
            flex-basis: 10%;
            justify-content: center;
            padding: 10px 5px;
            border-left: 1px solid #d5dadf;
            border-radius: 0;

            .dashicon {
                margin: 2px;
            }
        }

        &:hover {
            background: #fafafb;
        }
    }

    &__content {
        background: #fff;
        border: 1px solid #d5dadf;
        border-top: none;
        padding: 10px 15px;

        .components-select-control {
            label {
                overflow: visible;
                white-space: normal;
            }
        }

        .components-base-control {
            margin: 12px 0;

            .components-dropdown {
                width: 100%;

                .components-button {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }
            }

            .components-datetime__time-field-hours-input {
                min-width: 60px;
            }

            .components-datetime__timezone {
                display: inline-block;
            }
        }
    }
}

.fz-url-category-input {
    position: relative;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

input[type="text"].fz-input-field {
    flex: 1;
    height: 32px;
    padding: 6px 8px;
    font-size: 13px;
    border: 1px solid #757575;
    border-right: none;
    border-radius: 2px 0 0 2px;
    margin: 0;
    background-color: #fff;
    color: #1e1e1e;
    box-sizing: border-box;
}

input[type="text"].fz-input-field:focus {
    outline: none;
    border-color: #007cba;
    box-shadow: 0 0 0 1px #007cba;
}

input[type="text"].fz-input-field:disabled {
    background-color: #fff;
    cursor: default;
    color: #1e1e1e;
}

.fz-buttons-container {
    display: flex;
    border: 1px solid #757575;
    border-radius: 0 2px 2px 0;
    background: #fff;
    height: 32px;
    box-sizing: border-box;
}

.fz-clear-button,
.fz-dropdown-button {
    width: 32px;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #1e1e1e;
}

.fz-clear-button {
    border-right: 1px solid #757575;
}

.fz-clear-button:hover,
.fz-dropdown-button:hover {
    background-color: #f0f0f0;
}

.fz-clear-button:focus,
.fz-dropdown-button:focus {
    outline: none;
    box-shadow: 0 0 0 1px #007cba;
}

.fz-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 4px;
    background-color: #fff;
    border: 1px solid #757575;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.fz-dropdown-item {
    width: 100%;
    padding: 8px 12px;
    font-size: 13px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    color: #1e1e1e;
}

.fz-dropdown-item:hover {
    background-color: #f0f0f0;
}

.fz-dropdown-item.fz-selected {
    background-color: #f0f7ff;
    color: #007cba;
}

.fz-dropdown-item:focus {
    outline: none;
    background-color: #f0f7ff;
    color: #007cba;
}

.fz-pattern-selector {
    display: grid;
    grid-template-columns: auto auto;
    gap: 48px;

    @media (max-width: 782px) {
        grid-template-columns: auto;
    }

    .fz-pattern {
        cursor: pointer;
        margin-bottom: 8px;
    }

    .block-editor-block-preview__container {
        border-radius: 4px;
        outline: 1px solid #0000001a;
    }
}

.fz-block-variation {
    .block-editor-block-variation-picker__variations {
        flex-wrap: nowrap;
    }
    .block-editor-block-variation-picker__variations>li {
        width: 35%;
    }
}

.fz-block-variation-picker {
    display: flex;
    justify-content: space-between;

    &> .components-button svg {
       max-width: 70px;
    }
}