name: Check JS files and build
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.ref }}
  cancel-in-progress: true
on:
  push:
    branches-ignore:
      - "master"
      - "dependabot/**"

jobs:
  npm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
      - name: Install Dependencies
        run: npm install
      - name: Run JS check
        run: npm run lint:js
      - name: Check if we can build the project
        run: npm run build
